/*TABLE*/

table{  
  border: 1px solid transparent;
  border-collapse: collapse;
  margin: 15px;
  padding: 4px;
  /*table-layout: fixed;*/
  height: 80%
}

thead tr{
  background-color: #242424 !important;
  color: #ffffff;
 
}

table tr {
  background-color: #f8f8f8;
  border: none;
  /*padding: .35em;*/
  /*width: inherit;*/
}
table tr:hover {
  background-color: rgba(245, 89, 3, 0.5);
  border: none;
  cursor: pointer;
  /*padding: .35em;*/
  /*width: inherit;*/
}



table tr:nth-child(odd) {
  background-color: #ffff;
  border: none;
  /*padding: .35em;*/
  /*width: inherit;*/
}

table tr:nth-child(odd):hover {
  background-color: rgba(245, 89, 3, 0.5);
  border: none;
  cursor: pointer;
  /*padding: .35em;*/
  /*width: inherit;*/
}

table th,
table td {
  padding: .625em;
  text-align: center;
  word-wrap: break-word;
}

.table-heading{
                width: 100%;
                padding-bottom: 2%;
                margin-left: inherit;
}

.fixed_header{
    /*width: 400px;*/
    table-layout: fixed;
    border-collapse: collapse;
}

.fixed_header tbody{
  display:block;
  /*width: 100%;*/
  overflow: auto;
  /*height: 600px;*/
}

.fixed_header thead tr {
   display: block;
}

.fixed_header thead {
  /*background-: black;*/
  color:black;
}
.fixed_header th, .fixed_header td {
  padding: 5px;
  text-align: left;
  min-width: 75px;
  width: 200px;
}

table, td{
  border-collapse: collapse;

}

thead{
  display: block;
  width: calc(100% - 17px);
}

tbody{
  display: block;
    overflow: auto;
   height: 300px;
   
}

th,td{
  padding: 5px;
  word-break: break-all;
}

tr{
  display: table;
  width: 100%;
  box-sizing: border-box;
}

td{
  text-align: center;
  border-bottom: none;
  border-left: none; 
}

.special-long-td-text{
  text-align: center !important;
}

.content-aligned-center{
  text-align: center !important;
}

/*special width for different td*/

.hundred-column{
  min-width: 100px !important;
}

.email-column{
  min-width: 250px !important;
  max-width: 300px;
}

.type-column{
  min-width: 70px !important;
}

.simulation-column{
  min-width: 100px;
  max-width: 120px;
}

.align-center{
  text-align: center !important;
}