.selector-for-some-widget {
  box-sizing: content-box;
}


/*Top-menu*/
#top-menu{background-color: rgba(122, 113, 113, 0.5);
			height: 8%;}
#sys-name{text-align: center;
				color: white;
				font-size: 25pt;}
				#top-stat{color:white;}
#img-logo{width: 30px;}
#img-toggle{width: 50px;}


/*****************************************************************/
/************************************TABLE***************************************/
th{text-align: center;}
td{text-align: center;}
.online-off-indicator img{


	border-color: grey;
	border-style: solid;
	border-width: 1px;
	border-radius: 50%;
}
.online-off-indicator img{
	width: 10px;
	
}
table {border-bottom-style: solid;
		border-bottom-width: 2px;
		border-bottom-color: grey;
	border-top-style: solid;
		border-top-width: 2px;
		border-top-color: grey;}
/********************************MAIN BODY*********************************/

#page{background-color: white; min-height: 660px; }

#main-body-superuser{height: 100%; padding-right: 2%; padding-left: 2%; }
#main-body-admin{padding-top: 2%; padding-right: 5%; padding-left: 5%; }
#building-drop{margin-top: 2%;
			margin-bottom: 2%;}
#building-drop h1{text-align: center;}
#img-drop{width: 30px;}
.img-edit{border-radius: 50%;
			width: 30px;
			padding: 1%;
			margin-left: 1%;
			border-width: 1px;
			border-color: grey;
}
button.img-edit img{width: 20px;}

/*****************************************************************/

#left{background-color: white;
	padding-right: 0;}
#right{background-color: white;
		 min-height: 665px;
		text-align: center;
		padding-left: 0;}
#search-input{display: inline;
				border-top:none;
				border-left:none;
				border-right:none;
				border-radius: 0;
				width: 200px;}

#search-input:enabled{
		border-top-color: transparent;
		border-left-color: transparent;
		border-right-color: transparent;
}


#search-input-div{
	text-align: right;
	padding-right: 20px;
	margin-bottom: 10px;
}

.rtferCard{
					border-radius: 8px;
					border-style: solid;
					border-width: 1px;
					border-color: #707070;
					padding: 2%;
}

#simulation-window{width: 75%;
					height: 75%;
					margin-top: 2%;
					text-align: center;
					display: inline-block;
					background-color:white;
					}
#add-bot-window, #add-fire-window{width: 75%;
							margin-top: 2%;
							height: 6%;	
							text-align: left;
							padding-left: 2%;
							padding-right: 2%;
							padding-top: 1%;
							padding-bottom: 2%;
							display: inline-block;
							background-color:white;}


@media only screen and (min-width: 298px) {
.arrow-span{margin-left: 35%;} 
} 

@media only screen and (min-width: 300px) {
.arrow-span{margin-left: 45%;} 
} 

@media only screen and (min-width: 350px) {
.arrow-span{margin-left: 50%;} 
}

@media only screen and (min-width: 400px) {
.arrow-span{margin-left: 58%;} 
}

@media only screen and (min-width: 450px) {
.arrow-span{margin-left: 60%;} 
}

@media only screen and (min-width: 500px) {
.arrow-span{margin-left: 66%;} 
} 

@media only screen and (min-width: 550px) {
.arrow-span{margin-left: 70%;} 
} 

@media only screen and (min-width: 600px) {
.arrow-span{margin-left: 74%;} 
} 

@media only screen and (min-width: 630px) {
.arrow-span{margin-left: 75%;} 
} 

@media only screen and (min-width: 650px) {
.arrow-span{margin-left: 77%;} 
} 


@media only screen and (min-width: 768px) {
.arrow-span{margin-left: 65%;} 
} 

@media only screen and (min-width: 800px) {
.arrow-span{margin-left: 65%;} 
} 

@media only screen and (min-width: 850px) {
.arrow-span{margin-left: 67%;} 
} 

@media only screen and (min-width: 900px) {
.arrow-span{margin-left: 70%;} 
} 

@media only screen and (min-width: 950px) {
.arrow-span{margin-left: 70%;} 
} 

@media only screen and (min-width: 1000px) {
.arrow-span{margin-left: 75%;} 
}

@media only screen and (min-width: 1100px) {
.arrow-span{margin-left: 77%;} 
}

@media only screen and (min-width: 1146px) {
.arrow-span{margin-left: 79%;} 
}

@media only screen and (min-width: 1250px) {
.arrow-span{margin-left: 80%;} 
}

@media only screen and (min-width: 1500px) {
.arrow-span{margin-left: 84%;} 
}